*{
	margin: 0px;
	padding: 0px;
}


@media screen and (min-width: 480px){

body {
     font-family: "Helvetica";
     font-size: 48px;
     font-weight:500;

	background: linear-gradient(#2E85B9, #19173C);
	/* flexbox */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
     }
#header {
	/*margin-top: 0;*/
	
	display: flex;
	flex-direction: row;
	justify-content: space-around | flex-end;
	flex-shrink:0;

}

#mainCity
{
	color: white;
	margin: 20px;
/*	border-color: #aaaa00;
	border-style: solid;*/
	width: 800px;
	height: 400px;
	display: flex;
	flex-direction: row;
	align-items:center;
	flex-shrink:0;
}

#mainDate
{
	align-self:flex-start;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-shrink:0;
}

.mainTime{
	font-weight:100;
}
#mainInfo
{
	align-self:center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-shrink:0;
}

#img{
	align-self:flex-end;
}


.mainTempContain{

	font-size:80px;
	font-weight:300;
}
#mobileStep {
	display:none;
}


#range {
	/*padding: 40px;*/
	
	width: 97%;
	/*width: 95%;*/
	margin: 50px;

	/*padding: 5px;*/

	/*	border-width: 4px;*/
/*	border-color: #aaaa00;
	border-style: solid;*/

	display: flex;
	flex:auto;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	flex-shrink:0;

}


button {
/*	border-width: 4px;*/
/*	border-color: #aaaa00;
	border-style: solid;*/
	border-radius: 10px;
	background-color: #4481AB;
	color: white;
	font-size: large;
}

#zipbox {
	font-size: large;
			margin-top: 1.0vw;
	    background-color:#FFFFFF;
	    	    text-align: center;
	    text-decoration: none;
	/*    display: inline-block;*/
	     -webkit-border-radius:1.0vw;
	     -moz-border-radius:1.0vw;
	     border-radius:1.0vw;
	     max-width:16.0vw;
	     flex:1;
	
}
/*#4481AB*/

#yahooimg{
	height: 10%;
	width: 70%;
}

.stepper {
	background-color: #4481AB;
	border-radius: 25px;
	color: white;
	display: flex;
	flex-shrink:0;
	font-size: 28px;
	margin: 10px;
	
	flex-direction: column;
	justify-content: space-between;
	/*justify-content: flex-start;*/
	align-items: center;
	/*font-size: large;*/
	height: 50%;
	width: 250px;
/*	padding:90px;*/


	/* spacing inside slider controlled by Javascript */
	position: relative;
/*	margin: 23px;*/
	transition-property: left; 
	transition-duration: 1s; 



}

.tempContain
{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	background-color: #4481AB;
/*	border-radius: 25px;*/


	/*align-items: center;*/	
}

.high{
	font-size: 48px;

	/*align-self:flex-end;*/
}
.low{
	font-size: 48px;
	font-weight:100;
	/*align-self:flex-end;*/
}

.deg{

	align-self:flex-start;
}

#buttons{
	display:flex;
	overflow: hidden;
	margin: 1em 0;
	align-items: center;
	width: 1096px;
}

#left
{	
    display:flex;
	flex-direction: row;
	color: white;

	margin-right: auto;
	padding: 1em;
}

#right
{
	display:flex;
	flex-direction: row;
	color: white;

	padding: 1em;
}
.forecastText
{
	align-self:center;
	font-size: 32px;
}

}

@media screen and (max-width: 480px){

body {
     font-family: "Helvetica";
     font-size: 48px;
     font-weight:500;

	background: linear-gradient(#2E85B9, #19173C);
	/* flexbox */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
     }
button {
/*	border-width: 4px;*/
/*	border-color: #aaaa00;
	border-style: solid;*/
	border-radius: 10px;
	background-color: #4481AB;
	color: white;
	font-size: large;
}
#mainCity{
	display:none;
}

.stepper{
	display:none;
}

#mobileStep {
/*	background-color: #4481AB;
	border-radius: 25px;*/
	color: white;
	display: flex;
	flex-shrink:0;
	font-size: 28px;
	/*margin: 20px;*/
	
	flex-direction: column;
	justify-content: space-between;
	/*justify-content: flex-start;*/
	align-items: center;
	/*font-size: large;*/
	height: 350px;
	width: 250px;
/*	padding:90px;*/


	/* spacing inside slider controlled by Javascript */
	position: relative;
/*	margin: 23px;*/
	transition-property: left; 
	transition-duration: 1s; 



}

#left
{	
display:none;
}

#right
{
display:none;
}
.forecastText
{
display:none;
}



	}

